<% include partials/head.ejs %>     
    <h1><%= title %></h1>

    <nav>
            <ul>
                <li><a href="/products" >List of products</a></li>
            </ul>
    
    
        </nav>
<% include partials/footer.ejs %> 
    