<% include partials/head.ejs %> 
<h1>Products</h1>
<ul>
<% for (var i=0;i<item.length; i++){ %>
    <li><%= item[i].name %></li>
    <% }%>
</ul>

<form action="/new-product" method="POST">
<input type="text" name="newItem" id="newItem">
<button>Add new a product</button>

</form>

<script>
    const newItem = document.getElementById('newItem');
    newItem.focus();
</script>

<% include partials/footer.ejs %> 
    
